@import './src/assets/colors.scss';

.input-box {
    margin: 20px 0;
    .input {
        width: -webkit-fill-available;
        max-width: 500px;
        border: none;
        height: 70px;
        border-radius: 5px;
        font-size: 1em;
        position: relative;
        padding: 0 20px;
        background-color: rgba(10, 10, 10, 0.02);
    
        &-primary {
            color: rgba(10, 10, 10, 0.8);
        }
        &-primary:focus {
            outline: $color-primary-2-hex auto 1px;
        }
        &-secondary {
            background-color: white;
            color: $color-primary-2-hex;
            border: solid 1px $color-primary-2-hex;
        }
    }
    
    .input::placeholder {
        opacity: 0.4;
    }
        
    .input:before {
        content : "";
        position: absolute;
        left    : 10%;
        bottom  : 0;
        height  : 5px;
        width   : 80%;
    }
    .error {
        color: red;
        display: block;
    }
}
