/* Color Theme Swatches in Hex */
$color-primary-1-hex: #37F3F3;
$color-primary-2-hex: #43BBF3;
$color-secondary-1-hex: #5FAEEA;
$color-secondary-2-hex: #9E74C2;
$color-secondary-3-hex: #FFFFFF;

/* Color Theme Swatches in RGBA */
$color-primary-1-rgba: rgba(55,243,243, 1);
$color-primary-2-rgba: rgba(67,187,243, 1);
$color-secondary-1-rgba: rgba(95,174,234, 1);
$color-secondary-2-rgba: rgba(158,116,194, 1);
$color-secondary-3-rgba: rgba(255,255,255, 1);
