.App {
    display: flex;
    aside {
        width: 20%;
        ul {
            list-style-type: none;
        }
    }
    section {
        width: 80%;
    }
}

.text-center {
    text-align: center;
}